@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.font-orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* .hero {
    background-image: url('/assets/images/bg-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #02042c;
} */

.hero::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1b1e23d0;
}